body{
    background-color:rgb(238, 167, 80);
    color: rgb(0, 0, 0);
    list-style-position: inside;
    text-align: center;
}

li{
    list-style-position: inside;
}

.centredList{
    text-align:center
}

.centredList ul ol li{
    display:inline;
}